*, *::before, *::after{
    margin:0;
    box-sizing: border-box;
}    
body{background-color: rgb(56, 56, 56);
    color: white;
        font-family: 'Heebo', sans-serif;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        min-height: 467px;
        min-width: 500px;
}    
header, footer{
    margin: 20px 0;
    color: azure;
}
textarea{
    border: none;
    outline: none;
    resize: none;
    margin: 20px 0;
    width: 80%;
    min-height: 20vh;
    font-size: large;
}

#code{
    height: fit-content;
}

button{
    margin: 20px;
    width: 80%;
    height: 50px;
    background-color: darkkhaki;
    color: azure;
    font-size: large;
    cursor: pointer;
}